.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: column; /* display:Flex; will keep item next to each other*/
    align-items: center;
    height: 100%;
}

@media (min-width: 500px){
    .NavigationItems {
        flex-flow: row;
    }
}